header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
  padding: 20px 10%;
  width: 100%;
  background: pink;
  display: flex;
  justify-content: space-between;
}

.home{
    display: flex;
    padding: 5%;
    height: 30vh;
}
